@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic,cyrillic-ext");
@font-face {
  src: url("../fonts/Lato-Heavy.ttf");
  font-family: 'Lato-Heavy'; }

@font-face {
  src: url("../fonts/Lato-Bold.ttf");
  font-family: 'Lato-Bold'; }

@font-face {
  src: url("../fonts/Lato-Regular.ttf");
  font-family: 'Lato-Regular'; }

@font-face {
  src: url("../fonts/Lato-Semibold.ttf");
  font-family: 'Lato-SemiBold'; }

@font-face {
  src: url("../fonts/Lato-Medium.ttf");
  font-family: 'Lato-Medium'; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, button, textarea {
  outline: none; }

.container {
  max-width: 1200px !important;
  padding: 0; }

.header {
  padding-bottom: 50px;
  background-image: url("../images/header-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .header .header-content {
    padding-top: 100px; }
    .header .header-content .container h2 {
      font-family: 'Lato-Heavy';
      font-size: 42px;
      color: #fff;
      text-transform: uppercase;
      max-width: 780px;
      line-height: 3rem; }
    .header .header-content .container p {
      font-size: 26px;
      color: #fff;
      font-family: 'Lato-Regular';
      margin-top: 1rem; }
    .header .header-content .container .btn-more {
      height: 52px;
      margin-top: 40px;
      max-width: 212px;
      width: 100%;
      background: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center;
      font-family: 'Lato-Bold';
      font-size: 18px;
      color: #fff;
      border: 2px solid #fff;
      padding-top: 1px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      text-decoration: none;
      cursor: pointer; }
      .header .header-content .container .btn-more:hover {
        -webkit-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        background: #fff;
        color: #f47a33; }
    .header .header-content .container span {
      margin-top: 70px;
      font-size: 15px;
      color: #fff;
      font-family: 'Lato-Regular';
      display: block;
      max-width: 700px;
      line-height: 1.5rem; }
  .header .header-row {
    padding: 24px 0; }
    .header .header-row .container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .header .header-row .container .logo {
        display: block; }
      .header .header-row .container .header-navigation {
        padding-left: 90px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .header .header-row .container .header-navigation ul {
          width: 420px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between; }
          .header .header-row .container .header-navigation ul li a {
            color: #babcc0;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 15px; }
            .header .header-row .container .header-navigation ul li a:hover {
              color: #fff;
              text-decoration: none; }

.header-nav {
  background: -webkit-gradient(linear, left top, left bottom, from(#f47933), to(#6795d1));
  background: -webkit-linear-gradient(#f47933, #6795d1);
  background: -o-linear-gradient(#f47933, #6795d1);
  background: linear-gradient(#f47933, #6795d1);
  color: rgba(255, 255, 255, 0.25);
  font-family: "montserrat-light", sans-serif;
  font-size: 1.3rem;
  line-height: 1.846;
  padding: 6rem 0;
  height: 100%;
  width: 280px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  visibility: hidden; }

.header-nav__close {
  display: block;
  height: 30px;
  width: 30px;
  -webkit-border-radius: 3px;
    -webkit-border-radius-border-radius: 3px;
  background-color: #fff;
  position: absolute;
  top: 36px;
  right: 30px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  z-index: 800; }

.header-nav__close span::before,
.header-nav__close span::after {
  content: "";
  display: block;
  height: 2px;
  width: 12px;
  background-color: #2c2c40;
  position: absolute;
  top: 50%;
  left: 9px;
  margin-top: -1px; }

.header-nav__close span::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.header-nav__close span::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

/* menu is open
 * ----------------------------------------------- */
.menu-is-open .header-nav {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
  -webkit-overflow-scrolling: touch; }

.menu-is-open .header-nav .header-nav__content {
  opacity: 1;
  visibility: visible;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
    -o-transition-duration-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
    -o-transition-timing-function-transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
    -o-transition-delay-transition-delay: 0.3s;
  left: 0; }

/* -------------------------------------------------------------------
 * ## mobile menu toggle
 * ------------------------------------------------------------------- */
.header-menu-toggle {
  display: none;
  right: 30px;
  top: 22px;
  position: absolute;
  height: 42px;
  width: 42px;
  line-height: 42px;
  padding: 1.1rem;
  font-family: "montserrat-medium", sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  color: #2c2c40 !important;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 99; }

.header-menu-toggle.top {
  top: 16px; }

.header-menu-toggle.opaque {
  background-color: #000000; }

.header-menu-toggle.opaque .header-menu-text {
  background-color: #000000; }

.header-menu-toggle:hover, .header-menu-toggle:focus {
  color: #8cc541; }

.header-menu-text {
  display: block;
  position: absolute;
  top: 0;
  left: -70px;
  width: 70px;
  padding-left: 12px; }

.header-menu-icon {
  display: block;
  width: 35px;
  height: 4px;
  margin-top: -1px;
  left: 10px;
  top: 50%;
  right: auto;
  bottom: auto;
  background-color: #f47933 !important;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

.header-menu-icon::before, .header-menu-icon::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #8cc541 !important;
  left: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.header-nav__content {
  text-align: center; }
  .header-nav__content ul {
    padding-left: 0;
    margin-top: 1rem;
    margin-bottom: 0; }

.header-nav__content ul li a {
  padding: 0.5rem 2rem;
  color: #fff;
  display: block;
  text-decoration: none;
  font-weight: 400;
  padding-bottom: 0.2rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 19px; }
  .header-nav__content ul li a:hover {
    background: #fff;
    color: #f47933; }

.premium-package {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-image: url("../images/premium-package.jpg"); }
  .premium-package .carousel-indicators {
    bottom: 20px; }
    .premium-package .carousel-indicators li {
      width: 15px;
      height: 15px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: none;
      border: 1px solid #fff; }
    .premium-package .carousel-indicators .active {
      background: #fff; }
  .premium-package .carousel-control-prev,
  .premium-package .carousel-control-next {
    width: 5%; }
  .premium-package .premium-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .premium-package .premium-top .premium-cards {
      text-align: right;
      max-width: 600px; }
      .premium-package .premium-top .premium-cards img {
        height: 430px; }
      .premium-package .premium-top .premium-cards .promo-video {
        display: inline-block;
        font-family: 'Lato-SemiBold';
        text-decoration: none;
        position: relative;
        color: #fff;
        font-size: 17px;
        border-bottom: 1px dashed #fff; }
        .premium-package .premium-top .premium-cards .promo-video::before {
          content: url("../images/play-video.png");
          position: absolute;
          left: -50px;
          top: -12px; }
        .premium-package .premium-top .premium-cards .promo-video:hover {
          -webkit-transition: .3s ease-in-out;
          -o-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
          color: #f47a33;
          border-bottom: 1px dashed #f47a33; }
          .premium-package .premium-top .premium-cards .promo-video:hover::before {
            -webkit-transition: .6s ease-in-out;
            -o-transition: .6s ease-in-out;
            transition: .6s ease-in-out;
            -webkit-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                    transform: rotate(360deg);
            content: url("../images/hov-play-video.png"); }
    .premium-package .premium-top .premium-services {
      max-width: 500px; }
      .premium-package .premium-top .premium-services h3 {
        font-family: 'Lato-Heavy';
        color: #fff;
        font-size: 32px;
        text-transform: uppercase; }
      .premium-package .premium-top .premium-services p {
        font-family: 'Lato-Regular';
        font-size: 16px;
        color: #fff;
        margin-top: 2.5rem;
        line-height: 1.5rem; }
      .premium-package .premium-top .premium-services h4 {
        font-family: 'Lato-Medium';
        font-size: 22px;
        color: #fff;
        margin-top: 2.5rem; }
      .premium-package .premium-top .premium-services ul {
        margin-top: 1.75rem;
        padding-left: 1rem; }
        .premium-package .premium-top .premium-services ul li {
          font-family: 'Lato-Regular';
          color: #fff;
          font-size: 16px;
          margin-bottom: 15px;
          position: relative; }
          .premium-package .premium-top .premium-services ul li::before {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            display: block;
            background: #fff;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            left: -17px;
            top: 4px; }
  .premium-package .premium-bottom {
    background: #fff;
    padding: 2.2rem 2rem;
    margin: 2rem 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .premium-package .premium-bottom .left-side,
    .premium-package .premium-bottom .right-side {
      width: 50%; }
    .premium-package .premium-bottom .left-side {
      border-right: 1px solid #e1e7e8;
      padding-right: 2rem; }
      .premium-package .premium-bottom .left-side ul li {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 15px; }
        .premium-package .premium-bottom .left-side ul li:last-child {
          margin-bottom: 0; }
        .premium-package .premium-bottom .left-side ul li span {
          display: block; }
          .premium-package .premium-bottom .left-side ul li span:first-child {
            width: 10%; }
          .premium-package .premium-bottom .left-side ul li span:last-child {
            width: 90%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center;
            font-family: 'Lato-Regular';
            font-size: 17px;
            color: #424242; }
    .premium-package .premium-bottom .right-side {
      padding-left: 2rem; }
      .premium-package .premium-bottom .right-side ul li {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 15px; }
        .premium-package .premium-bottom .right-side ul li:last-child {
          margin-bottom: 0; }
        .premium-package .premium-bottom .right-side ul li span {
          display: block; }
          .premium-package .premium-bottom .right-side ul li span:first-child {
            width: 10%; }
          .premium-package .premium-bottom .right-side ul li span:last-child {
            width: 90%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center;
            font-family: 'Lato-Regular';
            font-size: 17px;
            color: #424242; }

.promotions-and-discounts {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-image: url("../images/section3-bg.jpg");
  padding: 15rem 0; }
  .promotions-and-discounts .promotions-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .promotions-and-discounts .promotions-wrapper .promotions-leftside,
    .promotions-and-discounts .promotions-wrapper .promotions-rightside {
      width: 50%; }
    .promotions-and-discounts .promotions-wrapper .promotions-leftside {
      padding: 25px;
      background: rgba(0, 0, 0, 0.48); }
      .promotions-and-discounts .promotions-wrapper .promotions-leftside h3 {
        font-family: 'Lato-Heavy';
        font-size: 35px;
        color: #fff;
        line-height: 2.8rem; }
      .promotions-and-discounts .promotions-wrapper .promotions-leftside p {
        font-family: 'Lato-Regular';
        font-size: 17px;
        color: #fff;
        line-height: 1.5rem;
        margin-top: 1.5rem; }
    .promotions-and-discounts .promotions-wrapper .promotions-rightside {
      background: #fff;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 40px 35px;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .promotions-and-discounts .promotions-wrapper .promotions-rightside .discount-item {
        max-width: 160px;
        text-align: center; }
        .promotions-and-discounts .promotions-wrapper .promotions-rightside .discount-item p {
          font-family: 'Lato-Regular';
          font-size: 17px;
          line-height: 1.5rem;
          margin-top: 1rem;
          color: #424242; }
		.promotions-and-discounts .promotions-wrapper .promotions-rightside .discount-item p a{
          font-family: 'Lato-Regular';
          font-size: 17px;
          line-height: 1.5rem;
          margin-top: 1rem;
          color: #424242; }

.news-and-articles {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-image: url("../images/news-bg.png");
  padding: 5rem 0; }
  .news-and-articles .title h3 {
    font-family: 'Lato-Heavy';
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    text-align: center; }
  .news-and-articles .news-slider {
    margin-top: 40px; }
    .news-and-articles .news-slider .carousel-indicators {
      bottom: -40px; }
      .news-and-articles .news-slider .carousel-indicators li {
        width: 15px;
        height: 15px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background: none;
        border: 1px solid #fff; }
      .news-and-articles .news-slider .carousel-indicators .active {
        background: #fff; }
    .news-and-articles .news-slider .carousel-control-prev,
    .news-and-articles .news-slider .carousel-control-next {
      width: 5%; }
    .news-and-articles .news-slider .news-card-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }

.news-card {
  width: 90%;
  background-color: #ffffff !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 1rem; }
  .news-card img {
    width: 100%; }
  .news-card .news_content {
    text-align: center;
    padding: 0 45px;
    padding-bottom: 25px; }
    .news-card .news_content h4 {
      margin-top: 24px;
      color: #ed7632;
      font-family: 'Lato-Bold';
      text-transform: uppercase;
      font-size: 11px; }
    .news-card .news_content h3 {
      font-family: 'Lato-Bold';
      color: #424242;
      font-size: 18px;
      margin-top: 8px; }
	.news-card .news_content h3 a {
      font-family: 'Lato-Bold';
      color: #424242;
      font-size: 18px;
      margin-top: 8px;
	}
    .news-card .news_content p {
      margin-top: 15px;
      max-height: 57px;
      margin-bottom: 15px;
      overflow: hidden;
      line-height: 1.2rem;
      color: #888888;
      font-family: 'Lato-Regular';
      font-size: 14px; }
    .news-card .news_content span {
      color: #b4b4b4;
      font-family: 'Lato-Regular';
      font-size: 14px; }

.block-questions {
  background-image: url("../images/question__background.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px 0; }
  .block-questions .title h3 {
    text-align: center;
    font-family: 'Lato-Heavy';
    color: #fff;
    text-transform: uppercase;
    font-size: 32px; }
  .block-questions .title p {
    font-size: 17px;
    color: #fff;
    font-family: 'Lato-Regular';
    text-align: center;
    max-width: 940px;
    margin: 0 auto;
    margin-top: 30px;
    line-height: 1.6rem; }
  .block-questions .question-form {
    max-width: 975px;
    padding: 35px;
    background: #fff;
    margin: 0 auto;
    margin-top: 35px; }
    .block-questions .question-form form {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      .block-questions .question-form form input {
        max-width: 425px;
        width: 100%;
        font-family: 'Lato-Regular';
        font-size: 14px;
        color: #888888;
        padding: 15px;
        padding-bottom: 12px;
        border: 1px solid #e1e7e8;
        -webkit-border-radius: 10px;
                border-radius: 10px;
        margin-bottom: 18px; }
      .block-questions .question-form form .button-block {
        max-width: 425px;
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .block-questions .question-form form .button-block a {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          color: #888888;
          font-size: 14px;
          font-family: 'Lato-Regular';
          text-decoration: underline; }
        .block-questions .question-form form .button-block button {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          height: 48px;
          max-width: 228px;
          width: 100%;
          -webkit-border-radius: 10px;
                  border-radius: 10px;
          border: 1px solid #f47933;
          background: #f47933;
          color: #fff;
          font-family: 'Lato-Bold';
          font-size: 18px;
          padding-top: 2px;
          cursor: pointer; }
          .block-questions .question-form form .button-block button:hover {
            -webkit-transition: .3s ease-in-out;
            -o-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
            color: #f47933;
            background: #fff; }

.news-and-articles {
  min-height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-image: url("../images/news-bg.png");
  padding: 5rem 0; }
  .news-and-articles .title h3 {
    font-family: 'Lato-Heavy';
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    text-align: center; }
  .news-and-articles .row {
    margin: 0; }
  .news-and-articles iframe {
    position: absolute;
    left: -10%; }

.address {
  overflow: hidden; }

.address__locations__items__circle--white {
  width: 28px;
  height: 28px;
  background-color: #ffffff;
  color: #424242;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  padding-top: 0.3rem;
  position: relative;
  margin-bottom: 1rem; }

.adress__locations__items {
  color: #ffffff;
  font-family: 'Lato-Regular';
  margin-top: 2rem;
  padding-right: 3rem;
  position: relative; }

#address__right {
  padding: 3rem;
  background-image: url("../images/footer__background.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.address__select-city select {
  -webkit-border-radius: 3%;
          border-radius: 3%;
  padding: 0.5rem;
  -webkit-appearance: none;
  width: 371px;
  height: 51px;
  font-family: 'Lato-Regular';
  outline-color: none;
  position: relative; }
  .address__select-city select::after {
    content: '323321';
    position: absolute;
    top: 0;
    right: 0; }

/*FOOTER START*/
.footer {
  background-color: #28212a;
  color: #ffffff;
  text-align: center;
  font-family: 'Lato-Regular';
  height: 124px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px; }
  .footer .social-net {
    max-width: 200px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .footer a {
    color: inherit; }
  .footer .fab {
    color: #ffffff;
    border: 1px solid #ffffff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    font-size: 1.2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 35px;
    height: 35px;
    cursor: pointer; }
  .footer .fab:hover {
    background-color: #ffffff;
    color: #28212a; }
  .footer .footer--grey {
    font-size: 14px;
    color: #8d898e; }
  .footer .footer__madeby a:hover {
    color: #f47933; }

.vertical-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.modal-header {
  padding-bottom: 0;
  border-bottom: 0; }

.modal-dialog {
  max-width: 600px; }
  .modal-dialog .modal-content {
    background: -webkit-gradient(linear, left top, left bottom, from(#f47933), to(#6795d1));
    background: -webkit-linear-gradient(#f47933, #6795d1);
    background: -o-linear-gradient(#f47933, #6795d1);
    background: linear-gradient(#f47933, #6795d1); }

.modal-body {
  padding: 1rem 4rem;
  padding-bottom: 2rem; }
  .modal-body .tel-number {
    padding-top: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .modal-body .tel-number input {
      padding: 1rem;
      -webkit-border-top-left-radius: 10px;
              border-top-left-radius: 10px;
      -webkit-border-bottom-left-radius: 10px;
              border-bottom-left-radius: 10px;
      border: 1px solid #f47933;
      background: none;
      color: #fff;
      font-family: 'Lato-Semibold'; }
    .modal-body .tel-number button {
      padding: 1rem 2rem;
      -webkit-border-top-right-radius: 10px;
              border-top-right-radius: 10px;
      -webkit-border-bottom-right-radius: 10px;
              border-bottom-right-radius: 10px;
      border: 1px solid #f47933;
      border-left: none;
      background: #f47933;
      color: #fff;
      cursor: pointer;
      font-family: 'Lato-Semibold'; }
      .modal-body .tel-number button:hover {
        -webkit-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        background: #fff;
        color: #f47933; }
  .modal-body p {
    font-family: 'Lato-Medium';
    font-size: 20px;
    color: #fff; }
  .modal-body h2 {
    font-family: 'Lato-SemiBold';
    font-size: 26px;
    margin-top: 0.5rem;
    color: #fff; }
  .modal-body .selec-date {
    padding-top: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* Custom Select */
    /* Arrow */
    /* Transition */ }
    .modal-body .selec-date select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      outline: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
      border: 0 !important;
      background: #00467a;
      font-family: 'Lato-Semibold';
      font-size: 17px;
      background-image: none; }
    .modal-body .selec-date .select {
      position: relative;
      display: block;
      width: 9em;
      height: 3em;
      line-height: 3;
      background: #2c3e50;
      overflow: hidden;
      -webkit-border-radius: .25em;
              border-radius: .25em; }
    .modal-body .selec-date select {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0 0 0 .5em;
      color: #fff;
      cursor: pointer; }
    .modal-body .selec-date select::-ms-expand {
      display: none; }
    .modal-body .selec-date .select::after {
      content: '\25BC';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 0 1em;
      background: #34495e;
      pointer-events: none; }
    .modal-body .selec-date .select:hover::after {
      color: #f39c12; }
    .modal-body .selec-date .select::after {
      -webkit-transition: .25s all ease;
      -o-transition: .25s all ease;
      transition: .25s all ease; }

/* ARCHIVE NEWS STYLES */
.archive-news {
  padding-bottom: 2rem;
  background-image: url("../images/arch-news-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .archive-news .bread-crumbs {
    padding-top: 50px;
    padding-bottom: 40px; }
    .archive-news .bread-crumbs ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .archive-news .bread-crumbs ul li {
        padding: 0 .5rem;
        position: relative; }
        .archive-news .bread-crumbs ul li::after {
          content: '/';
          color: #fff;
          position: absolute;
          right: -4px; }
        .archive-news .bread-crumbs ul li a {
          font-size: 14px;
          color: #fff;
          font-family: 'Lato-Regular'; }
        .archive-news .bread-crumbs ul li:last-child::after {
          content: ''; }
        .archive-news .bread-crumbs ul li:last-child a {
          color: #f3a332;
          text-decoration: none;
          cursor: default; }
  .archive-news .title h3 {
    font-family: 'Lato-Heavy';
    font-size: 28px;
    color: #fff; }
  .archive-news .arch-news-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 50px; }
    .archive-news .arch-news-wrapper .news-card {
      max-width: 375px;
      width: 100%;
      margin: 0;
      margin-bottom: 2rem; }
  .archive-news .atf-pagination ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 420px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 2rem auto; }
    .archive-news .atf-pagination ul li a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 27px;
      height: 27px;
      border: 1px solid #fff;
      text-align: center;
      font-family: 'Lato-Regular';
      color: #fff;
      font-size: 16px;
      text-decoration: none;
      padding-top: 1px; }
      .archive-news .atf-pagination ul li a:hover {
        border: 1px solid #fe8136; }
    .archive-news .atf-pagination ul li .nxt-page {
      position: relative; }
      .archive-news .atf-pagination ul li .nxt-page::before {
        content: url("../images/nxt-page.png");
        position: absolute;
        left: 10px; }
    .archive-news .atf-pagination ul li .prev-page {
      position: relative; }
      .archive-news .atf-pagination ul li .prev-page::before {
        content: url("../images/prev-page.png");
        position: absolute;
        right: 10px; }
    .archive-news .atf-pagination ul li .active {
      background: #fe8136; }

/* END ARCHIVE NEWS STYLES */
/* NEWS INNER STYLES */
.inner-news {
  padding-bottom: 2rem;
  background-image: url("../images/news-inner2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .inner-news .bread-crumbs {
    padding-top: 50px;
    padding-bottom: 40px; }
    .inner-news .bread-crumbs ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .inner-news .bread-crumbs ul li {
        padding: 0 .5rem;
        position: relative; }
        .inner-news .bread-crumbs ul li::after {
          content: '/';
          color: #fff;
          position: absolute;
          right: -4px; }
        .inner-news .bread-crumbs ul li a {
          font-size: 14px;
          color: #fff;
          font-family: 'Lato-Regular'; }
        .inner-news .bread-crumbs ul li:last-child::after {
          content: ''; }
        .inner-news .bread-crumbs ul li:last-child a {
          color: #f3a332;
          text-decoration: none;
          cursor: default; }
  .inner-news .inner-news-img img {
    width: 100%; }
  .inner-news .inner-news-title {
    padding-top: 40px; }
    .inner-news .inner-news-title h3 {
      color: #fff;
      font-family: 'Lato-Heavy';
      font-size: 28px;
      margin-bottom: 1rem; }
    .inner-news .inner-news-title span {
      font-family: 'Lato-Regular';
      font-size: 12px;
      color: #b4b4b4;
      margin-bottom: 1rem; }
    .inner-news .inner-news-title p {
      margin-top: 30px;
      font-family: 'Lato-Regular';
      color: #fff;
      line-height: 1.3rem;
      font-size: 14px; }

.arch-news-wrapper-pink {
  background: url("../images/news-inner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .arch-news-wrapper-pink .title {
    padding-top: 50px; }
    .arch-news-wrapper-pink .title h3 {
      color: #fff;
      font-family: 'Lato-Heavy';
      font-size: 24px;
      max-width: 370px;
      border-bottom: 2px solid #fff;
      padding-bottom: 15px; }
  .arch-news-wrapper-pink .inner-news-pink-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 30px; }
    .arch-news-wrapper-pink .inner-news-pink-wrapper .news-card {
      max-width: 375px;
      width: 100%;
      margin: 0;
      margin-bottom: 2rem; }

/* PROMOTIONS STYLES */
.promotions {
  padding-bottom: 2rem;
  background-image: url("../images/arch-news-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .promotions .bread-crumbs {
    padding-top: 50px;
    padding-bottom: 40px; }
    .promotions .bread-crumbs ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .promotions .bread-crumbs ul li {
        padding: 0 .5rem;
        position: relative; }
        .promotions .bread-crumbs ul li::after {
          content: '/';
          color: #fff;
          position: absolute;
          right: -4px; }
        .promotions .bread-crumbs ul li a {
          font-size: 14px;
          color: #fff;
          font-family: 'Lato-Regular'; }
        .promotions .bread-crumbs ul li:last-child::after {
          content: ''; }
        .promotions .bread-crumbs ul li:last-child a {
          color: #f3a332;
          text-decoration: none;
          cursor: default; }
  .promotions .title h3 {
    font-family: 'Lato-Heavy';
    font-size: 28px;
    color: #fff; }
  .promotions .promotions-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 30px; }
    .promotions .promotions-wrapper .promotions-card {
      max-width: 375px;
      width: 100%;
      margin: 0;
      margin-bottom: 2rem;
      background-color: #ffffff !important; }
      .promotions .promotions-wrapper .promotions-card img {
        width: 100%; }
      .promotions .promotions-wrapper .promotions-card .news_content {
        text-align: center;
        padding: 0 45px;
        padding-bottom: 25px; }
        .promotions .promotions-wrapper .promotions-card .news_content h4 {
          margin-top: 24px;
          color: #ed7632;
          font-family: 'Lato-Bold';
          text-transform: uppercase;
          font-size: 11px; }
        .promotions .promotions-wrapper .promotions-card .news_content h3 {
          font-family: 'Lato-Bold';
          color: #424242;
          font-size: 18px;
          margin-top: 8px; }
        .promotions .promotions-wrapper .promotions-card .news_content p {
          margin-top: 15px;
          max-height: 57px;
          margin-bottom: 15px;
          overflow: hidden;
          line-height: 1.2rem;
          color: #888888;
          font-family: 'Lato-Regular';
          font-size: 14px; }
        .promotions .promotions-wrapper .promotions-card .news_content span {
          color: #b4b4b4;
          font-family: 'Lato-Regular';
          font-size: 14px; }
  .promotions .atf-pagination ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 420px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 2rem auto; }
    .promotions .atf-pagination ul li a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 27px;
      height: 27px;
      border: 1px solid #fff;
      text-align: center;
      font-family: 'Lato-Regular';
      color: #fff;
      font-size: 16px;
      text-decoration: none;
      padding-top: 1px; }
      .promotions .atf-pagination ul li a:hover {
        border: 1px solid #fe8136; }
    .promotions .atf-pagination ul li .nxt-page {
      position: relative; }
      .promotions .atf-pagination ul li .nxt-page::before {
        content: url("../images/nxt-page.png");
        position: absolute;
        left: 10px; }
    .promotions .atf-pagination ul li .prev-page {
      position: relative; }
      .promotions .atf-pagination ul li .prev-page::before {
        content: url("../images/prev-page.png");
        position: absolute;
        right: 10px; }
    .promotions .atf-pagination ul li .active {
      background: #fe8136; }

/* END PROMOTIONS STYLES */
/* RESPONSIVE */
@media (max-width: 1200px) {
  .container {
    padding: 0 15px; } }

@media (max-width: 768px) {
  .header .header-row .container .header-navigation {
    display: none; }
  .header-menu-toggle {
    display: block; }
  .premium-cards {
    display: none !important; }
  .promotions-and-discounts .promotions-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .promotions-and-discounts .promotions-wrapper .promotions-rightside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .premium-package .premium-top {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .address__right {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .address__locations__items__circle--white {
    margin-left: 90%; }
  .address__select-city {
    text-align: center; }
  .discount-item {
    margin: auto; }
  .question-form input {
    margin: auto; }
  .question-form .button-block {
    margin: auto;
    padding-top: 1rem; }
    .question-form .button-block button {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
  .vertical-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .news-and-articles .news-slider .news-card-wrapper .news-card {
    max-width: 220px; }
	.mobile iframe {
		height: 220px;
	}
  .promotions-and-discounts {
    padding: 2rem 0; } 
  .archive-news .arch-news-wrapper .news-card {
	max-width: 350px; }
  .arch-news-wrapper-pink .inner-news-pink-wrapper .news-card {
	max-width: 350px; }}

@media (max-width: 576px) {
  .promotions-and-discounts .promotions-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .promotions-and-discounts .promotions-wrapper .promotions-rightside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0; }
  .discount-item {
    margin: auto; }
  .promotions-and-discounts .promotions-wrapper .promotions-rights {
    padding: 0 !important;
    width: 100%; }
  .promotions-and-discounts .promotions-wrapper .promotions-leftside h3 {
    font-size: 20px; }
  .promotions-and-discounts .promotions-wrapper .promotions-leftside {
    width: 100% !important; }
  #premium-bottom {
    padding: 0 !important;
    margin: 0;
    margin-top: 1.5rem; }
  .promotions-and-discounts .promotions-wrapper .promotions-rightside {
    padding-top: 2rem;
    width: 100% !important; }
    .promotions-and-discounts .promotions-wrapper .promotions-rightside .discount-item {
      padding-bottom: 2rem; }
  .promotions-and-discounts {
    padding: 0; }
  #h2_mobile {
    font-size: 28px; }
  .address__select-city select {
    width: 100%; }
  .address__right {
    padding: 0; }
  .left-side {
    padding-right: 0 !important; }
  .right-side {
    padding-left: 0 !important; }
  .premium-package .premium-bottom .left-side ul li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .premium-package .premium-bottom .right-side ul {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .premium-package .premium-bottom .right-side ul li {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
  .premium-package .premium-bottom {
    margin-bottom: 1rem !important; }
    .premium-package .premium-bottom .left-side ul li span:first-child {
      width: 100% !important;
      text-align: center;
      margin-bottom: 1rem;
      padding-top: 1rem; }
    .premium-package .premium-bottom .left-side ul li span:nth-child(2) {
      text-align: center;
      font-size: 12px !important; }
    .premium-package .premium-bottom .right-side ul li span:first-child {
      width: 100% !important;
      text-align: center;
      margin-bottom: 1rem;
      padding-top: 1rem; }
    .premium-package .premium-bottom .right-side ul li span:nth-child(2) {
      text-align: center;
      width: 100% !important;
      font-size: 12px !important; }
  .premium-package .carousel-control-prev {
    display: none !important; }
  .premium-package .carousel-control-next {
    display: none !important; }
  #fab {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    width: auto; }
  .footer .social-net {
    max-width: 100% !important;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1rem 0; }
  .adress__locations__items {
    padding-right: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .adress__locations__items .address__locations__items__circle--white {
      margin: 0 auto;
      margin-bottom: 1rem; }
    .adress__locations__items p {
      text-align: center;
      line-height: 1.5; }
  .vertical-center {
    margin: 0.1rem 0; }
  .footer {
    padding: 7rem 0; } }

@media (max-width: 480px) {
  .premium-package .premium-bottom .left-side ul {
    padding-left: 15px;
    padding-bottom: 15px; }
  .premium-package .premium-bottom .right-side ul {
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px; }
  .premium-package .premium-bottom .right-side ul li {
    margin-bottom: 0;
    height: 140px; }
  .premium-package .premium-bottom .left-side ul li {
    height: 140px;
    margin-bottom: 0; }
  .premium-package .premium-bottom .right-side ul li span:nth-child(2) {
    line-height: 1rem; }
  .premium-package .premium-bottom .left-side ul li span:nth-child(2) {
    line-height: 1rem; }
  .modal-body .selec-date {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .modal-body .selec-date .select {
      margin-bottom: 1rem;
      width: 100%; }
  .modal-body {
    padding: 1rem 2rem; }
  .modal-body .tel-number {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .modal-body .tel-number input {
      -webkit-border-radius: 10px;
              border-radius: 10px; }
    .modal-body .tel-number button {
      margin-top: 1rem;
      -webkit-border-radius: 10px;
              border-radius: 10px; } 
}

