@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic,cyrillic-ext')

@font-face
  src: url("../fonts/Lato-Heavy.ttf")
  font-family: 'Lato-Heavy'

@font-face
  src: url("../fonts/Lato-Bold.ttf")
  font-family: 'Lato-Bold'

@font-face
  src: url("../fonts/Lato-Regular.ttf")
  font-family: 'Lato-Regular'

@font-face
  src: url("../fonts/Lato-Semibold.ttf")
  font-family: 'Lato-SemiBold'

@font-face
  src: url("../fonts/Lato-Medium.ttf")
  font-family: 'Lato-Medium'

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

body
  line-height: 1

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

input, button, textarea
  outline: none

.container
  max-width: 1200px !important
  padding: 0

.header
  padding-bottom: 50px
  background-image: url('../images/header-bg.jpg')
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  .header-content
    padding-top: 100px
    .container
      h2
        font-family: 'Lato-Heavy'
        font-size: 42px
        color: #fff
        text-transform: uppercase
        max-width: 780px
        line-height: 3rem
      p
        font-size: 26px
        color: #fff
        font-family: 'Lato-Regular'
        margin-top: 1rem
      .btn-more
        height: 52px
        margin-top: 40px
        max-width: 212px
        width: 100%
        background: none
        display: flex
        flex-direction: column
        justify-content: center
        text-align: center
        font-family: 'Lato-Bold'
        font-size: 18px
        color: #fff
        border: 2px solid #fff
        padding-top: 1px
        border-radius: 5px
        text-decoration: none
        cursor: pointer
        &:hover
          transition: .3s ease-in-out
          background: #fff
          color: #f47a33
      span
        margin-top: 70px
        font-size: 15px
        color: #fff
        font-family: 'Lato-Regular'
        display: block
        max-width: 700px
        line-height: 1.5rem

  .header-row
    padding: 24px 0
    .container
      display: flex
      .logo
        display: block
      .header-navigation
        padding-left: 90px
        display: flex
        flex-direction: column
        justify-content: center
        ul
          width: 420px
          display: flex
          justify-content: space-between
          li
            a
              color: #babcc0
              font-family: 'Roboto', sans-serif
              font-weight: 400
              font-size: 15px
              &:hover
                color: #fff
                text-decoration: none


.header-nav
  background: linear-gradient(#f47933, #6795d1)
  color: rgba(255, 255, 255, 0.25)
  font-family: "montserrat-light", sans-serif
  font-size: 1.3rem
  line-height: 1.846
  padding: 6rem 0
  height: 100%
  width: 280px
  position: fixed
  right: 0
  top: 0
  z-index: 9999
  overflow-y: auto
  overflow-x: hidden
  -webkit-transition: all 0.5s ease
  -o-transition: all 0.5s ease
  transition: all 0.5s ease
  -webkit-transform: translateZ(0)
  -webkit-backface-visibility: hidden
  -webkit-transform: translateX(100%)
  -ms-transform: translateX(100%)
  transform: translateX(100%)
  visibility: hidden

.header-nav__close
  display: block
  height: 30px
  width: 30px
  -webkit-border-radius: 3px
    border-radius: 3px
  background-color: #fff
  position: absolute
  top: 36px
  right: 30px
  font: 0/0 a
  text-shadow: none
  color: transparent
  z-index: 800

.header-nav__close span::before,
.header-nav__close span::after
  content: ""
  display: block
  height: 2px
  width: 12px
  background-color: #2c2c40
  position: absolute
  top: 50%
  left: 9px
  margin-top: -1px

.header-nav__close span::before
  -webkit-transform: rotate(-45deg)
  -ms-transform: rotate(-45deg)
  transform: rotate(-45deg)

.header-nav__close span::after
  -webkit-transform: rotate(45deg)
  -ms-transform: rotate(45deg)
  transform: rotate(45deg)

/* menu is open
 * ----------------------------------------------- */
.menu-is-open .header-nav
  -webkit-transform: translateX(0)
  -ms-transform: translateX(0)
  transform: translateX(0)
  visibility: visible
  -webkit-overflow-scrolling: touch

.menu-is-open .header-nav .header-nav__content
  opacity: 1
  visibility: visible
  -webkit-transition-property: all
  -o-transition-property: all
  transition-property: all
  -webkit-transition-duration: 0.5s
  -o-transition-duration: 0.5s
    transition-duration: 0.5s
  -webkit-transition-timing-function: ease-in-out
  -o-transition-timing-function: ease-in-out
    transition-timing-function: ease-in-out
  -webkit-transition-delay: 0.3s
  -o-transition-delay: 0.3s
    transition-delay: 0.3s
  left: 0

/* -------------------------------------------------------------------
 * ## mobile menu toggle
 * ------------------------------------------------------------------- */
.header-menu-toggle
  display: none
  right: 30px
  top: 22px
  position: absolute
  height: 42px
  width: 42px
  line-height: 42px
  padding: 1.1rem
  font-family: "montserrat-medium", sans-serif
  font-size: 1.3rem
  text-transform: uppercase
  letter-spacing: .3rem
  color: #2c2c40 !important
  -webkit-transition: all 0.5s ease-in-out
  -o-transition: all 0.5s ease-in-out
  transition: all 0.5s ease-in-out
  z-index: 99

.header-menu-toggle.top
  top: 16px

.header-menu-toggle.opaque
  background-color: #000000

.header-menu-toggle.opaque .header-menu-text
  background-color: #000000

.header-menu-toggle:hover, .header-menu-toggle:focus
  color: #8cc541

.header-menu-text
  display: block
  position: absolute
  top: 0
  left: -70px
  width: 70px
  padding-left: 12px

.header-menu-icon
  display: block
  width: 35px
  height: 4px
  margin-top: -1px
  left: 10px
  top: 50%
  right: auto
  bottom: auto
  background-color: #f47933 !important
  -webkit-transition: all 0.5s ease-in-out
  -o-transition: all 0.5s ease-in-out
  transition: all 0.5s ease-in-out
  border-radius: 5px

.header-menu-icon::before, .header-menu-icon::after
  content: ''
  width: 100%
  height: 100%
  background-color: #8cc541 !important
  left: 0
  -webkit-transition: all 0.5s ease-in-out
  -o-transition: all 0.5s ease-in-out
  transition: all 0.5s ease-in-out
.header-nav__content
  text-align: center
  ul
    padding-left: 0
    margin-top: 1rem
    margin-bottom: 0

.header-nav__content ul li a
  padding: 0.5rem 2rem
  color: #fff
  display: block
  text-decoration: none
  font-weight: 400
  padding-bottom: 0.2rem
  text-align: center
  text-transform: uppercase
  font-size: 19px
  &:hover
    background: #fff
    color: #f47933

.premium-package
  padding-top: 4rem
  padding-bottom: 2rem
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-image: url('../images/premium-package.jpg')
  .carousel-indicators
    bottom: 20px
    li
      width: 15px
      height: 15px
      border-radius: 50%
      background: none
      border: 1px solid #fff
    .active
      background: #fff
  .carousel-control-prev,
  .carousel-control-next
    width: 5%
  .premium-top
    display: flex
    justify-content: space-between
    .premium-cards
      text-align: right
      max-width: 600px
      img
        height: 430px
      .promo-video
        display: inline-block
        font-family: 'Lato-SemiBold'
        text-decoration: none
        position: relative
        color: #fff
        font-size: 17px
        border-bottom: 1px dashed #fff
        &::before
          content: url('../images/play-video.png')
          position: absolute
          left: -50px
          top: -12px
        &:hover
          transition: .3s ease-in-out
          color: #f47a33
          border-bottom: 1px dashed #f47a33
          &::before
            transition: .6s ease-in-out
            transform: rotate(360deg)
            content: url('../images/hov-play-video.png')
    .premium-services
      max-width: 500px
      h3
        font-family: 'Lato-Heavy'
        color: #fff
        font-size: 32px
        text-transform: uppercase
      p
        font-family: 'Lato-Regular'
        font-size: 16px
        color: #fff
        margin-top: 2.5rem
        line-height: 1.5rem
      h4
        font-family: 'Lato-Medium'
        font-size: 22px
        color: #fff
        margin-top: 2.5rem
      ul
        margin-top: 1.75rem
        padding-left: 1rem
        li
          font-family: 'Lato-Regular'
          color: #fff
          font-size: 16px
          margin-bottom: 15px
          position: relative
          &::before
            content: ''
            position: absolute
            width: 8px
            height: 8px
            display: block
            background: #fff
            border-radius: 50%
            left: -17px
            top: 4px
  .premium-bottom
    background: #fff
    padding: 2.2rem 2rem
    margin: 2rem 0
    display: flex
    .left-side,
    .right-side
      width: 50%
    .left-side
      border-right: 1px solid #e1e7e8
      padding-right: 2rem
      ul
        li
          display: flex
          margin-bottom: 15px
          &:last-child
            margin-bottom: 0
          span
            display: block
            &:first-child
              width: 10%
            &:last-child
              width: 90%
              display: flex
              flex-direction: column
              justify-content: center
              font-family: 'Lato-Regular'
              font-size: 17px
              color: #424242
    .right-side
      padding-left: 2rem
      ul
        li
          display: flex
          margin-bottom: 15px
          &:last-child
            margin-bottom: 0
          span
            display: block
            &:first-child
              width: 10%
            &:last-child
              width: 90%
              display: flex
              flex-direction: column
              justify-content: center
              font-family: 'Lato-Regular'
              font-size: 17px
              color: #424242

.promotions-and-discounts
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-image: url('../images/section3-bg.jpg')
  padding: 15rem 0
  .promotions-wrapper
    display: flex
    .promotions-leftside,
    .promotions-rightside
      width: 50%
    .promotions-leftside
      padding: 25px
      background: rgba(0, 0, 0, .48)
      h3
        font-family: 'Lato-Heavy'
        font-size: 35px
        color: #fff
        line-height: 2.8rem
      p
        font-family: 'Lato-Regular'
        font-size: 17px
        color: #fff
        line-height: 1.5rem
        margin-top: 1.5rem
    .promotions-rightside
      background: #fff
      display: flex
      padding: 40px 35px
      justify-content: space-between
      .discount-item
        max-width: 160px
        text-align: center
        p
          font-family: 'Lato-Regular'
          font-size: 17px
          line-height: 1.5rem
          margin-top: 1rem
          color: #424242

.news-and-articles
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-image: url('../images/news-bg.png')
  padding: 5rem 0
  .title
    h3
      font-family: 'Lato-Heavy'
      font-size: 35px
      color: #fff
      text-transform: uppercase
      text-align: center
  .news-slider
    margin-top: 40px
    .carousel-indicators
      bottom: -40px
      li
        width: 15px
        height: 15px
        border-radius: 50%
        background: none
        border: 1px solid #fff
      .active
        background: #fff
    .carousel-control-prev,
    .carousel-control-next
      width: 5%
    .news-card-wrapper
      display: flex
      justify-content: space-between
.news-card
  width: 90%
  background-color: #ffffff !important
  display: flex
  flex-direction: column
  margin: 0 1rem
  img
    width: 100%
  .news_content
    text-align: center
    padding: 0 45px
    padding-bottom: 25px

    h4
      margin-top: 24px
      color: #ed7632
      font-family: 'Lato-Bold'
      text-transform: uppercase
      font-size: 11px
    h3
      font-family: 'Lato-Bold'
      color: #424242
      font-size: 18px
      margin-top: 8px
    p
      margin-top: 15px
      max-height: 57px
      margin-bottom: 15px
      overflow: hidden
      line-height: 1.2rem
      color: #888888
      font-family: 'Lato-Regular'
      font-size: 14px
    span
      color: #b4b4b4
      font-family: 'Lato-Regular'
      font-size: 14px

.block-questions
  background-image: url('../images/question__background.jpg')
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  padding: 70px 0
  .title
    h3
      text-align: center
      font-family: 'Lato-Heavy'
      color: #fff
      text-transform: uppercase
      font-size: 32px
    p
      font-size: 17px
      color: #fff
      font-family: 'Lato-Regular'
      text-align: center
      max-width: 940px
      margin: 0 auto
      margin-top: 30px
      line-height: 1.6rem
  .question-form
    max-width: 975px
    padding: 35px
    background: #fff
    margin: 0 auto
    margin-top: 35px
    form
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      input
        max-width: 425px
        width: 100%
        font-family: 'Lato-Regular'
        font-size: 14px
        color: #888888
        padding: 15px
        padding-bottom: 12px
        border: 1px solid #e1e7e8
        border-radius: 10px
        margin-bottom: 18px
      .button-block
        max-width: 425px
        width: 100%
        display: flex
        justify-content: space-between
        a
          display: flex
          flex-direction: column
          justify-content: center
          color: #888888
          font-size: 14px
          font-family: 'Lato-Regular'
          text-decoration: underline
        button
          display: flex
          flex-direction: column
          justify-content: center
          height: 48px
          max-width: 228px
          width: 100%
          border-radius: 10px
          border: 1px solid #f47933
          background: #f47933
          color: #fff
          font-family: 'Lato-Bold'
          font-size: 18px
          padding-top: 2px
          cursor: pointer
          &:hover
            transition: .3s ease-in-out
            color: #f47933
            background: #fff


.news-and-articles
  min-height: 700px
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-image: url('../images/news-bg.png')
  padding: 5rem 0
  .title
    h3
      font-family: 'Lato-Heavy'
      font-size: 35px
      color: #fff
      text-transform: uppercase
      text-align: center


  .row
    margin: 0
  iframe
    position: absolute
    left: -10%

.address
	overflow: hidden

.address__locations__items__circle--white
  width: 28px
  height: 28px
  background-color: #ffffff
  color: #424242
  border-radius: 50%
  text-align: center
  padding-top: 0.3rem
  position: relative
  margin-bottom: 1rem
.adress__locations__items
  color: #ffffff
  font-family: 'Lato-Regular'
  margin-top: 2rem
  padding-right: 3rem
  position: relative

#address__right
  padding: 3rem
  background-image: url('../images/footer__background.jpg')
  background-repeat: no-repeat
  background-size: cover


.address__select-city
  select
    border-radius: 3%
    padding: 0.5rem
    -webkit-appearance: none
    width: 371px
    height: 51px
    font-family: 'Lato-Regular'
    outline-color: none
    position: relative
    &::after
      content: '323321'
      position: absolute
      top: 0
      right: 0





/*FOOTER START*/
.footer
  background-color: #28212a
  color: #ffffff
  text-align: center
  font-family: 'Lato-Regular'
  height: 124px
  display: flex
  flex-direction: column
  justify-content: center
  font-size: 14px
  .social-net
    max-width: 200px
    justify-content: center
  a
    color: inherit
  .fab
    color: #ffffff
    border: 1px solid #ffffff
    border-radius: 50%
    font-size: 1.2rem
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center
    width: 35px
    height: 35px
    cursor: pointer

  .fab:hover
    background-color: #ffffff
    color: #28212a
  .footer--grey
    font-size: 14px
    color: #8d898e
  .footer__madeby
    a
      &:hover
        color: #f47933

.vertical-center
  display: flex
  flex-direction: column
  justify-content: center


.modal-header
  padding-bottom: 0
  border-bottom: 0

.modal-dialog
  max-width: 600px
  .modal-content
    background: linear-gradient(#f47933, #6795d1)

.modal-body
  padding: 1rem 4rem
  padding-bottom: 2rem
  .tel-number
    padding-top: 1rem
    display: flex
    input
      padding: 1rem
      border-top-left-radius: 10px
      border-bottom-left-radius: 10px
      border: 1px solid #f47933
      background: none
      color: #fff
      font-family: 'Lato-Semibold'
    button
      padding: 1rem 2rem
      border-top-right-radius: 10px
      border-bottom-right-radius: 10px
      border: 1px solid #f47933
      border-left: none
      background: #f47933
      color: #fff
      cursor: pointer
      font-family: 'Lato-Semibold'
      &:hover
        transition: .3s ease-in-out
        background: #fff
        color: #f47933

  p
    font-family: 'Lato-Medium'
    font-size: 20px
    color: #fff
  h2
    font-family: 'Lato-SemiBold'
    font-size: 26px
    margin-top: 0.5rem
    color: #fff
  .selec-date
    padding-top: 1rem
    display: flex
    justify-content: space-between
    select
      -webkit-appearance: none
      -moz-appearance: none
      -ms-appearance: none
      appearance: none
      outline: 0
      box-shadow: none
      border: 0 !important
      background: #00467a
      font-family: 'Lato-Semibold'
      font-size: 17px
      background-image: none

    /* Custom Select */
    .select
      position: relative
      display: block
      width: 9em
      height: 3em
      line-height: 3
      background: #2c3e50
      overflow: hidden
      border-radius: .25em

    select
      width: 100%
      height: 100%
      margin: 0
      padding: 0 0 0 .5em
      color: #fff
      cursor: pointer

    select::-ms-expand
      display: none

    /* Arrow */
    .select::after
      content: '\25BC'
      position: absolute
      top: 0
      right: 0
      bottom: 0
      padding: 0 1em
      background: #34495e
      pointer-events: none

    /* Transition */
    .select:hover::after
      color: #f39c12

    .select::after
      -webkit-transition: .25s all ease
      -o-transition: .25s all ease
      transition: .25s all ease


/* ARCHIVE NEWS STYLES */
.archive-news
  padding-bottom: 2rem
  background-image: url('../images/arch-news-bg.jpg')
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  .bread-crumbs
    padding-top: 50px
    padding-bottom: 40px
    ul
      display: flex
      li
        padding: 0 .5rem
        position: relative
        &::after
          content: '/'
          color: #fff
          position: absolute
          right: -4px
        a
          font-size: 14px
          color: #fff
          font-family: 'Lato-Regular'
        &:last-child
          &::after
            content: ''
          a
            color: #f3a332
            text-decoration: none
            cursor: default
  .title
    h3
      font-family: 'Lato-Heavy'
      font-size: 28px
      color: #fff
  .arch-news-wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding-top: 50px
    .news-card
      max-width: 375px
      width: 100%
      margin: 0
      margin-bottom: 2rem
  .atf-pagination
    ul
      display: flex
      max-width: 420px
      justify-content: space-between
      margin: 2rem auto
      li
        a
          display: flex
          flex-direction: column
          justify-content: center
          width: 27px
          height: 27px
          border: 1px solid #fff
          text-align: center
          font-family: 'Lato-Regular'
          color: #fff
          font-size: 16px
          text-decoration: none
          padding-top: 1px
          &:hover
            border: 1px solid #fe8136
        .nxt-page
          position: relative
          &::before
            content: url('../images/nxt-page.png')
            position: absolute
            left: 10px
        .prev-page
          position: relative
          &::before
            content: url('../images/prev-page.png')
            position: absolute
            right: 10px
        .active
          background: #fe8136




/* END ARCHIVE NEWS STYLES */


/* NEWS INNER STYLES */
.inner-news
  padding-bottom: 2rem
  background-image: url('../images/news-inner2.jpg')
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  .bread-crumbs
    padding-top: 50px
    padding-bottom: 40px
    ul
      display: flex
      li
        padding: 0 .5rem
        position: relative
        &::after
          content: '/'
          color: #fff
          position: absolute
          right: -4px
        a
          font-size: 14px
          color: #fff
          font-family: 'Lato-Regular'
        &:last-child
          &::after
            content: ''
          a
            color: #f3a332
            text-decoration: none
            cursor: default
  .inner-news-img
    img
      width: 100%
  .inner-news-title
    padding-top: 40px
    h3
      color: #fff
      font-family: 'Lato-Heavy'
      font-size: 28px
      margin-bottom: 1rem
    span
      font-family: 'Lato-Regular'
      font-size: 12px
      color: #b4b4b4
      margin-bottom: 1rem
    p
      margin-top: 30px
      font-family: 'Lato-Regular'
      color: #fff
      line-height: 1.3rem
      font-size: 14px

.arch-news-wrapper-pink
  background: url('../images/news-inner.jpg')
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  .title
    padding-top: 50px
    h3
      color: #fff
      font-family: 'Lato-Heavy'
      font-size: 24px
      max-width: 370px
      border-bottom: 2px solid #fff
      padding-bottom: 15px
  .inner-news-pink-wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding-top: 30px
    .news-card
      max-width: 375px
      width: 100%
      margin: 0
      margin-bottom: 2rem


/* PROMOTIONS STYLES */
.promotions
  padding-bottom: 2rem
  background-image: url('../images/arch-news-bg.jpg')
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  .bread-crumbs
    padding-top: 50px
    padding-bottom: 40px
    ul
      display: flex
      li
        padding: 0 .5rem
        position: relative
        &::after
          content: '/'
          color: #fff
          position: absolute
          right: -4px
        a
          font-size: 14px
          color: #fff
          font-family: 'Lato-Regular'
        &:last-child
          &::after
            content: ''
          a
            color: #f3a332
            text-decoration: none
            cursor: default
  .title
    h3
      font-family: 'Lato-Heavy'
      font-size: 28px
      color: #fff
  .promotions-wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding-top: 30px
    .promotions-card
      max-width: 375px
      width: 100%
      margin: 0
      margin-bottom: 2rem
      background-color: #ffffff !important
      img
        width: 100%
      .news_content
        text-align: center
        padding: 0 45px
        padding-bottom: 25px

        h4
          margin-top: 24px
          color: #ed7632
          font-family: 'Lato-Bold'
          text-transform: uppercase
          font-size: 11px
        h3
          font-family: 'Lato-Bold'
          color: #424242
          font-size: 18px
          margin-top: 8px
        p
          margin-top: 15px
          max-height: 57px
          margin-bottom: 15px
          overflow: hidden
          line-height: 1.2rem
          color: #888888
          font-family: 'Lato-Regular'
          font-size: 14px
        span
          color: #b4b4b4
          font-family: 'Lato-Regular'
          font-size: 14px
  .atf-pagination
    ul
      display: flex
      max-width: 420px
      justify-content: space-between
      margin: 2rem auto
      li
        a
          display: flex
          flex-direction: column
          justify-content: center
          width: 27px
          height: 27px
          border: 1px solid #fff
          text-align: center
          font-family: 'Lato-Regular'
          color: #fff
          font-size: 16px
          text-decoration: none
          padding-top: 1px
          &:hover
            border: 1px solid #fe8136
        .nxt-page
          position: relative
          &::before
            content: url('../images/nxt-page.png')
            position: absolute
            left: 10px
        .prev-page
          position: relative
          &::before
            content: url('../images/prev-page.png')
            position: absolute
            right: 10px
        .active
          background: #fe8136
/* END PROMOTIONS STYLES */

/* RESPONSIVE */
@media (max-width: 1200px)
  .container
    padding: 0 15px



@media (max-width: 768px)
  .header .header-row .container .header-navigation
    display: none
  .header-menu-toggle
    display: block
  .premium-cards
    display: none !important
  .promotions-and-discounts
    .promotions-wrapper
      flex-direction: column
      align-items: center
  .promotions-and-discounts
    .promotions-wrapper
      .promotions-rightside
        flex-direction: column
  .premium-package
    .premium-top
      justify-content: center
  .address__right
    align-items: center
  .address__locations__items__circle--white
    margin-left: 90%
  .address__select-city
    text-align: center
  .discount-item
    margin: auto
  .question-form
    input
      margin: auto
    .button-block
      margin: auto
      padding-top: 1rem
      button
        align-items: center
  .vertical-center
    align-items: center
  .news-and-articles
    .news-slider
      .news-card-wrapper
        .news-card
          max-width: 220px
  .mobile
    display: none
  .promotions-and-discounts
    padding: 2rem 0

@media (max-width: 576px)
  .promotions-and-discounts
    .promotions-wrapper
      flex-direction: column
      align-items: center
  .promotions-and-discounts
    .promotions-wrapper
      .promotions-rightside
        flex-direction: column
        padding: 0
  .discount-item
    margin: auto
  .promotions-and-discounts
    .promotions-wrapper
      .promotions-rights
        padding: 0 !important
        width: 100%
  .promotions-and-discounts
    .promotions-wrapper
      .promotions-leftside
        h3
          font-size: 20px
  .promotions-and-discounts
    .promotions-wrapper
      .promotions-leftside
        width: 100% !important
  #premium-bottom
      padding: 0 !important
      margin: 0
      margin-top: 1.5rem
  .promotions-and-discounts
    .promotions-wrapper
      .promotions-rightside
        padding-top: 2rem
        width: 100% !important
        .discount-item
          padding-bottom: 2rem
  .promotions-and-discounts
    padding: 0
  #h2_mobile
    font-size: 28px
  .address__select-city
    select
      width: 100%
  .address__right
    padding: 0
  .left-side
    padding-right: 0 !important
  .right-side
    padding-left: 0 !important
  .premium-package
    .premium-bottom
      .left-side
        ul
          li
            flex-direction: column
      .right-side
        ul
          justify-content: center
          li
            flex-direction: column
  .premium-package
    .premium-bottom
      margin-bottom: 1rem !important
      .left-side
        ul
          li
            span:first-child
              width: 100% !important
              text-align: center
              margin-bottom: 1rem
              padding-top: 1rem
            span:nth-child(2)
              text-align: center
              font-size: 12px !important
      .right-side
        ul
          li
            span:first-child
              width: 100% !important
              text-align: center
              margin-bottom: 1rem
              padding-top: 1rem
            span:nth-child(2)
              text-align: center
              width: 100% !important
              font-size: 12px !important
  .premium-package
    .carousel-control-prev
      display: none !important
    .carousel-control-next
      display: none !important
  #fab
    flex-direction: row !important
    width: auto
  .footer
    .social-net
      max-width: 100% !important
      justify-content: center
      margin: 1rem 0
  .adress__locations__items
    padding-right: 0
    align-items: center
    .address__locations__items__circle--white
      margin: 0 auto
      margin-bottom: 1rem
    p
      text-align: center
      line-height: 1.5
  .vertical-center
    margin: 0.1rem 0
  .mobile
    display: none
  .footer
        padding: 7rem 0

@media (max-width: 480px)
  .premium-package .premium-bottom .left-side ul
    padding-left: 15px
    padding-bottom: 15px
  .premium-package .premium-bottom .right-side ul
    padding-left: 15px
    padding-bottom: 15px
    padding-right: 15px
  .premium-package .premium-bottom .right-side ul li
    margin-bottom: 0
    height: 140px
  .premium-package .premium-bottom .left-side ul li
    height: 140px
    margin-bottom: 0
  .premium-package .premium-bottom .right-side ul li span:nth-child(2)
    line-height: 1rem
  .premium-package .premium-bottom .left-side ul li span:nth-child(2)
    line-height: 1rem
  .modal-body .selec-date
    flex-direction: column
    .select
      margin-bottom: 1rem
      width: 100%
  .modal-body
    padding: 1rem 2rem
  .modal-body .tel-number
    flex-direction: column
    input
      border-radius: 10px
    button
      margin-top: 1rem
      border-radius: 10px
